<?php echo $header; ?>

<?php if ($success) { ?>
	<div class="success"><?php echo $success; ?></div>
<?php } ?>
<div id="content">
    <div class="breadcrumb">
	<?php foreach ($breadcrumbs as $breadcrumb) { ?>
		<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
	<?php } ?>
    </div>
<script src="catalog/view/javascript/jquery.validate.js"></script>
<script>
	$().ready(function() {
	// validate the comment form when it is submitted
	$("#custregisteration").validate();
	});
</script>

<style>
input.error {
    border: 1px dotted red;
	background:pink;
}
textarea.error {
    border: 1px dotted red;
	background:pink;
}
label.error
{
 color:red;
margin-left:5px;
}
</style>
    <?php //echo $column_right; ?>
    <h1><?php echo $heading_title; ?></h1>
    <form name="custregisteration" id="custregisteration" method="post">
    <table cellpadding="5" cellspacing="5" border="1" class="list" style="width:100% !important;">

        <tr>
            <td align="left">Subject</td>
            <td><input type="text" name="msg_subject"  id="msg_subject" style="width:60%;" /></td>
        </tr>
        
        <tr>
            <td align="left">Message</td>
            <td><textarea name="msg_desc" id="msg_desc"  style="width:60%;height:170px;" ></textarea></td>
        </tr>
        
        <tr>
            <td colspan="2">
                <input type="submit" name="submit" id="submit" value="Send Now" style="width:120px;font-weight:bold;"/>
                 <input type="button" name="back" id="back" value="Back" onclick="window.location.href='<?php echo $back; ?>' " style="width:120px;font-weight:bold;"/>
            </td>
        
        </tr>
    </table>
        </form>
</div>

<?php echo $footer; ?>