<?php echo $header; ?>
<?php if ($success) { ?>
<div class="success"><?php echo $success; ?></div>
<?php } ?>
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content" ><?php echo $content_top; ?>

  <!--<div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>-->
  <h1><?php echo $heading_title; ?></h1>
  <br />
  
  <div class="content" style="color:#ffff!important;">
     <div class="link-dashboard"><a href="<?php echo $password; ?>"><span class="text_link"><?php echo $text_password; ?></span></a></div>
     
     <div class="link-dashboard"><a href="<?php echo $edit; ?>"><span class="text_link"><?php echo $text_edit; ?></span></a></div>
     
      <div class="link-dashboard"><a href="<?php echo $package; ?>"><span class="text_link"><?php echo $text_package; ?></span></a></div>
    
      <div class="link-dashboard"><a href="<?php echo $downline; ?>"><span class="text_link"><?php echo $text_downline; ?></span></a></div>
      <div class="link-dashboard"><a href="<?php echo $downlineTree; ?>"><span class="text_link"><?php echo $text_tree; ?></span></a></div>
      
     <div class="link-dashboard"><a href="<?php echo $transaction; ?>"><span class="text_link"><?php echo $text_transaction; ?></span></a></div>
     <div class="link-dashboard"><a href="<?php echo $order; ?>"><span class="text_link"><?php echo $text_order; ?></span></a></div>
     <div class="link-dashboard"><a href="<?php echo $logout; ?>"><span class="text_link"><?php echo $text_logout; ?></span></a></div>
       
    
  </div>
  
  
  <!--<h2><?php echo $text_my_account; ?></h2>
  <div class="content">
    <ul>
      <li><a href="<?php echo $edit; ?>"><?php echo $text_edit; ?></a></li>
      <li><a href="<?php echo $password; ?>"><?php echo $text_password; ?></a></li>
      <li><a href="<?php echo $address; ?>"><?php echo $text_address; ?></a></li>
      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
    </ul>
  </div>
  <h2><?php echo $text_my_orders; ?></h2>
  <div class="content">
    <ul>
      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
      <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
      <?php if ($reward) { ?>
      <li><a href="<?php echo $reward; ?>"><?php echo $text_reward; ?></a></li>
      <?php } ?>
      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
      <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
    </ul>
  </div>
  <h2><?php echo $text_my_newsletter; ?></h2>
  <div class="content">
    <ul>
      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
    </ul>
  </div>-->
  <?php echo $content_bottom; ?></div>
<?php echo $footer; ?> 