<?php echo $header; 
?>
<div id="content">
 <script language="javascript">
 function val(frm)
 {
 	if(frm.username.value == '')
	{
		alert("Please enter memberid value");
		return false;
	}
	else
	{
		return true;
	}
	
 }
 
 	function  leftprint()
 	{
 		document.left.isexcel.value='Yes';
 		document.left.action="<?php echo $this->url->link('mlm/details/printLeft', 'token=' . $this->session->data['token'] , 'SSL');?>";
 		document.left.submit();
 	}
 	function  rightprint()
 	{
 		document.left.isexcel.value='Yes';
 		document.left.submit();
 	} 
    
    
  
function callleftmethod()
{
document.getElementById("leftcol").style.display = "block";
}

function callmiddmethod()
{
    document.getElementById("middlecol").style.display = "block";
}
function callrightmethod()
{
document.getElementById("rightcol").style.display = "block";
}
 
 </script>
 </script>
  <?php if ($error)
  { ?>
  <div class="success"><?php echo $error; ?></div>
  <?php } ?> 
  <h1>Downline Details</h1>
 <div style="padding:10px;border:1px solid #d2d2d2">
    <table width="100%" border="0" cellspacing="1" cellpadding="5">
    <tr><form id="form1" name="form1" method="post" action="" onsubmit="return val(this)">
    <td width="300" align="right"><strong>MEMBER ID</strong> :</td>
    <td width="200">
    <input name="username" type="text" id="textfield" size="40" value="<?=(isset($_POST["username"]) ? $_POST["username"] : '');?>"/>    </td>
    <td><input type="submit" name="button" id="button" value=" Show " /></td></form>
    </tr>
    </table>
</div>
<br />

<?php if(isset($selectedusername) && $selectedusername!='' && isset($leftcount))
{
?>
<table width="80%" border="0" cellspacing="1" cellpadding="5" align="center">
  <tr>
  <td colspan="" align="center"><b><?php echo $selectedusername."'s Downline details" ;?></b></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <form id="form2" name="left" method="post" action="">
  <input type="hidden" name="username" value="<?php echo $selectedusername?>" />
   <input type="hidden" name="side" value="left" />
    <input type="hidden" name="isexcel" value="" />
    <td>Total left members : <?php echo $leftcount;?></td>
    <td>Total Midle members : <?php echo $middlecount;?></td>
    <td>Total Right members : <?php echo $rightcount;?></td> 
 </form> 
 </tr> 
  <tr>
    <form id="form3" name="right" method="post" action="">
    <input type="hidden" name="username" value="<?php echo $selectedusername?>" />
    <input type="hidden" name="side" value="right" />
   <input type="hidden" name="isexcel" value="" />
<!--
    <td>Total Left PV : <?php echo $lefPVtcount;?></td>
    <td>Total Middle PV : <?php echo $middlePVcount;?></td>
    <td>Total Right PV : <?php echo $rightPVcount;?></td>-->
    </form>
  </tr>
  <tr>
    <td>
      <label>
       <input type="button" name="button2"  id="clickmeleft" value="View details" onclick="return callleftmethod();"   />
      </label>
  
    </td>
    <td>
         <label>
       <input type="button" name="button3"  id="clickmemiddle" value="View details" onclick="return callmiddmethod();"   />
      </label>
    </td>
    <td>	
   <label> <input type="button" name="button4"  onclick="return callrightmethod();" id="clickmeright" value="View details"   /> </label>
   
    </td>
  </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<?php
}
?>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"  width="50%">
    <div id="leftcol" style="display:none;" >
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
              <tr>
                <td bgcolor="#f2f2f2">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left"><strong>Left side Details of <?php echo $selectedusername;?></strong></td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#f2f2f2">
                  <tr>
                    <td width="20" bgcolor="#FFFFFF"><strong>Sno.</strong></td>
                    <td bgcolor="#FFFFFF"><strong>Username</strong></td>
                    <td bgcolor="#FFFFFF"><strong>ID</strong></td>
                    <td bgcolor="#FFFFFF"><strong>Package</strong></td>
                    <!--<td bgcolor="#FFFFFF"><strong>PV Value</strong></td>-->
                    <td bgcolor="#FFFFFF"><strong>Join date</strong></td>
                  </tr>
                 <?php
                $n = 1;
            
            	$lids = rtrim($lmemids, ",");
            	$firstchar = substr($lids, 0 , 1);
            	if($firstchar == ",")
            	{
            	  $lids = 	substr($lids, 1);
            	}
            	
                if($lids!=''){
            	
                   $arr = explode("," ,$lids);
                	 
                	
                	if(count($arr > 1)) {
                	
                      
                	$rows = $this->db->query("select c.* , (select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id IN (".$lids.")")->rows;
                	}
                	else {
                	  
                //	$rows = $this->db->query("select c.*,(select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id IN (".$lids.")")->rows;
                
                
                        $rows = $this->db->query("select c.*,(select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id =".$arr[0])->rows;
                	}
            	
            	$n=1;
            
            	if(isset($rows[0]["customer_id"]) && $rows[0]["customer_id"] > 0 ) 
                {
            					
            	foreach($rows as $row) {
            	// member package detials
            	$id = $row['customer_id'];
                
              
             
            	 $joindate  = date("d-m-Y",strtotime($row['date_added']));
            	?>
                    <tr>
                    <td bgcolor="#FFFFFF"><?php echo $n;?></td>
                    <td bgcolor="#FFFFFF"><?php echo  $row["firstname"]."&nbsp;".$row["lastname"];?></td>
                    <td bgcolor="#FFFFFF"><?php echo  $row["member_id"];?></td>
                    <td bgcolor="#FFFFFF"><?php echo  $row["package"];?></td>
                    <!--<td bgcolor="#FFFFFF"><?php echo  $row["pv_value"];?></td>-->
                    <td bgcolor="#FFFFFF"><?php echo  $joindate ;?></td>
                    </tr>
                  <?php
                  $n++;
                  }
            	}  else{
                  ?>
                  <tr><td colspan="6">There is no record</td></tr>
                  <?php
                  }
                  }
                  ?>
                </table></td>
              </tr>
            </table>
    </div>
	</td>
    
    <!-- Right column -->
  
    <!-- End middle side mem -->
    </tr>
         
    
    <tr>
    
        <td colspan="2">
             <div id="middlecol" style="display:none;" >
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
              <tr>
                <td bgcolor="#f2f2f2">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left"><strong>Middle side Details of <?php echo $selectedusername;?></strong></td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#f2f2f2">
                  <tr>
                    <td width="20" bgcolor="#FFFFFF"><strong>Sno.</strong></td>
                    <td bgcolor="#FFFFFF"><strong>Username</strong></td>
                    <td bgcolor="#FFFFFF"><strong>ID</strong></td>
                    <td bgcolor="#FFFFFF"><strong>Package</strong></td>
                    <!--<td bgcolor="#FFFFFF"><strong>PV Value</strong></td>-->
                    <td bgcolor="#FFFFFF"><strong>Join date</strong></td>
                  </tr>
                 <?php
                $n = 1;
               
            	$cs = rtrim($cmemids, ",");
            	$firstchar = substr($cmemids, 0 , 1);
            	if($firstchar == ",")
            	{
            	  $cmemids = 	substr($cmemids, 1);
            	}
            	
                if($cmemids!=''){
            	
                   $arr = explode("," ,$cmemids);
                	 
                	
                	if(count($arr > 1)) {
                	
                      
                	$rows = $this->db->query("select c.* , (select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id IN (".$cmemids.")")->rows;
                	}
                	else {
                	  
                //	$rows = $this->db->query("select c.*,(select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id IN (".$cmemids.")")->rows;
                
                
                        $rows = $this->db->query("select c.*,(select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id =".$arr[0])->rows;
                	}
            	
            	$n=1;
            
            	if(isset($rows[0]["customer_id"]) && $rows[0]["customer_id"] > 0 ) 
                {
            					
            	foreach($rows as $row) {
            	// member package detials
            	$id = $row['customer_id'];
                
              
             
            	 $joindate  = date("d-m-Y",strtotime($row['date_added']));
            	?>
                    <tr>
                    <td bgcolor="#FFFFFF"><?php echo $n;?></td>
                    <td bgcolor="#FFFFFF"><?php echo  $row["firstname"]."&nbsp;".$row["lastname"];?></td>
                    <td bgcolor="#FFFFFF"><?php echo  $row["member_id"];?></td>
                    <td bgcolor="#FFFFFF"><?php echo  $row["package"];?></td>
                    <!--<td bgcolor="#FFFFFF"><?php echo  $row["pv_value"];?></td>-->
                    <td bgcolor="#FFFFFF"><?php echo  $joindate ;?></td>
                    </tr>
                  <?php
                  $n++;
                  }
            	}  else{
                  ?>
                  <tr><td colspan="6">There is no record</td></tr>
                  <?php
                  }
                  }
                  ?>
                </table></td>
              </tr>
            </table>
    </div>
        
        </td>
    </tr>
    
    <tr>
    
          <td valign="top" >
                <div id="rightcol"   width="50%" style="display:none;">
                  <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
              <tr>
                <td bgcolor="#f2f2f2"><strong>Right side Details of <?php echo $selectedusername;?></strong></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#f2f2f2">
                
                  <tr>
                    <td width="20" bgcolor="#FFFFFF"><strong>Sno.</strong></td>
                    <td bgcolor="#FFFFFF"><strong>Username</strong></td>
                    <td bgcolor="#FFFFFF"><strong>ID</strong></td>
                    <td bgcolor="#FFFFFF"><strong>Package</strong></td>
                    <!--<td bgcolor="#FFFFFF"><strong>PV Value</strong></td>-->
                    <td bgcolor="#FFFFFF"><strong>Join date</strong></td>
                 </tr>
              
             <?php   
             $n = 1 ; 
             if(isset($rmemids) && !empty($rmemids))
             {
            		
             	$rmid = rtrim($rmemids, ",");
                     
             	 $firstchar = substr($rmid, 0 , 1);
            	
             	if($firstchar == ",")
            	{
            	  $rmid = 	substr($rmid, 1);
            	} 
            	
                if($rmid!='')
                {
                    $arr2 = explode(",",$rmid);
                    if(count($arr2)>1) 
                    {
                        //	$rows2 = $this->db->query("select c.*,(select package_name from mlm_packages where package_id = c.package_id) as package , (select total_pv from mlm_membertree where customer_id = c.customer_id) as cpv from mlm_customer c  where  c.customer_id in($rmid)")->rows;
                    
                        $rows2 = $this->db->query("select c.*,(select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package from ".DB_PREFIX."customer c where c.customer_id IN (".$rmid.")" )->rows;
                    }
                    else
                    {
                    	$rows2 = $this->db->query("select c.*,(select package_name from ".DB_PREFIX."mst_packages where package_id = c.package_id) as package  from ".DB_PREFIX."customer c  where  c.customer_id in($arr2[0])")->rows;
                    }
                 $p=1;
                 if(isset($rows2[0]["customer_id"]) && $rows2[0]["customer_id"] > 0 ) 
                 {
            					
            		foreach($rows2 as $row) 
            		{
            			// member package detials
            			$id = $row['customer_id'];
            		    $rjoindate = date("d-m-Y",strtotime($row['date_added']));
            			
                		?>
                        <tr>
            		        <td bgcolor="#FFFFFF"><?php echo $p;?></td>
            		        <td bgcolor="#FFFFFF"><?php echo  $row["firstname"]."&nbsp;".$row["lastname"];?></td>
            		        <td bgcolor="#FFFFFF"><?php echo  $row["member_id"];?></td>
            		        <td bgcolor="#FFFFFF"><?php echo  $row["package"];?></td>
            		        <!--<td bgcolor="#FFFFFF"><?php echo  $row["pv_value"];?></td>-->
            		        <td bgcolor="#FFFFFF"><?php echo  $rjoindate ;?></td>
                    	</tr>
                      <?php $p++;
                      }
                     
                  }
                  else
                  {
            ?>
                  <tr><td bgcolor="#FFFFFF" colspan="6">No Record</td></tr>
            <?php
                  }
                }
             }   
                  ?>
                </table></td>
              </tr>
            </table>
            	</div>
            </td>
    </tr>
    </table>
  

</div>
<?php echo $footer; ?>
