<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
 <?php //echo $column_right; ?>
  <h1><?php echo $heading_title; ?></h1>
  <style type="text/css" >
		a.tooltip {outline:none; } a.tooltip strong {line-height:30px;} 
		a.tooltip:hover {text-decoration:none;} 
		a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-90px; margin-left:8px; width:130px; line-height:16px;text-align:left }
		a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
		.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;} /*CSS3 extras*/ 
		a.tooltip span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }
</style>
<script>
function displayres()
{
	rootNode = document.getElementById("rootNode").value;
	urllink = "<?php echo $link."&memberid="?>"+rootNode ;
	window.location.href = urllink;	 
}
</script>  
<?php
	$Ausername='';
	$Asponsorusername='';
	$Busername='';
	$Bsponsorusername='';
	$BMsponsorusername = '';
	
	$M1username = '';
	$M2username = '';
	$M3username = '';
	$BMusername='';
	
	
	$M1sponsorusername = '';
	$M2sponsorusername = '';
	$M3sponsorusername = '';

	$Mleftmsrno = '';
	$Mmiddlemsrno = '';
	$Mrightmsrno = '';

	$Cusername ='';
	$Csponsorusername = '';
	$CMsponsorusername = '';
	$CMusername = '';
	
	
	$Dusername ='';
	$Dsponsorusername ='';
	$DMsponsorusername ='';
	
	
	$Eusername='';
	$Esponsorusername='';
	$EMsponsorusername='';
	
	$Fusername='';
	$Fsponsorusername='';
	$FMsponsorusername='';
	
	$rootid = $rootNode;    
	
	$aleft=0;
	$amiddle=0;
	$aright=0;
	
	$bleft=0;
	$bmiddle=0;
	$bright=0;
			
	$cright=0;
// Root Details
  	
  	$totalLeftPV=0;
    $totalMiddlePV=0;
    $totalRightPV=0;   
    $middlePV=0;
    
    $userimg = HTTP_SERVER."view/image/img24.png";
    
    $rootresult = $this->db->query("select * from ".DB_PREFIX."customer where customer_id = '".$rootid."'")->row;  
    
    if(isset($rootresult["member_id"]) && !empty($rootresult["member_id"]) )
     {
		     	$rootUserName = $rootresult["member_id"];
			 	$l_data = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$rootid."'")->rows;
		        $rootSponsorMsrNo = $l_data[0]['sponsor_code'];
		        $rootMsrNo   = $l_data[0]['member_id']; 
		    	$rootSponsordetails =  $this->db->query("select * , concat_ws(' ',firstname,lastname) as username from ".DB_PREFIX."customer where UPPER(member_id) = '".$rootSponsorMsrNo."'")->row; 
		    	if(!isset($rootSponsordetails['username']))
		    	{
		    		$rootSponsordetails['username']='Admin';
		    	}  
    	                $rootsponsorusername = "Sponsored by ". $rootSponsordetails['username'];        
		        $Rootsponsorusername =  "User ID :".  $rootMsrNo ."<br />";
		        $Rootsponsorusername .= "Sponsored by :". $rootSponsorMsrNo."<br />";
		        $Rootsponsorusername .= "Left ID :". $l_data[0]['left_sponsorcode']."<br />";
		        $Rootsponsorusername .= "Right ID :". $l_data[0]['right_sponsorcode']."<br />";
		        $link1 = $this->url->link('mlm/membertree&rootNode='. $rootid, 'token=' . $this->session->data['token'] , 'SSL');
		      	$rootName = '<a href="'. $link1 .'" class="tooltip"><img src='.$userimg.' width="36" height="48" /><span>'. $Rootsponsorusername.'</span></a>';
		     
 /***************** 1st Level **********************************/
    /** Start First Level Left Node  **/    
     	   		$rootleftmsrno =  $l_data[0]['left_sponsorcode'];
            	if(isset($rootleftmsrno)  && !empty($rootleftmsrno))// Root->A
            	{
		              $rootleftdetails =  $this->db->query("select c.*,t.* from ".DB_PREFIX."customer c , ".DB_PREFIX."membertree t where c.member_id = '".$rootleftmsrno."' and c.member_id = t.member_id")->row;                                  
		              $Aid = $rootleftdetails['customer_id'];
		              $link1 = $this->url->link('mlm/membertree&rootNode='. $Aid, 'token=' . $this->session->data['token'] , 'SSL');
		              $rootleftSponsorMsrNo   = $rootleftdetails['sponsor_code']; 
		              $leftMsrno 	=  $rootleftdetails['left_sponsorcode']; 
		              $middleMsrno 	=  $rootleftdetails['middle_sponsorcode']; 
		              $rightMsrno = $rootleftdetails['right_sponsorcode']; 	
		              $totalLeftPV=0;
		              $totalRightPV=0;
		               if(isset($leftMsrno) && !empty($leftMsrno))
		               {
		                   $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id= '".$leftMsrno."'")->row;
		                   $totalLeftPV = $leftPvq['total_pv'];
		               }   
		               if(isset($middleMsrno) && !empty($middleMsrno))
		               {
		                   $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id= '".$middleMsrno."'")->row;
		                   $totalMiddlePV = $middlePvq['total_pv'];
		               } 
		                               	
		               if(isset($rightMsrno) && !empty($rightMsrno))
		               {
		                    $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrno."'")->row;
		                    $totalRightPV = $RightPvq['total_pv'];
		               }
                    
		                    $Asponsorusername =  "User ID :". $rootleftmsrno ."<br />";
		                    $Asponsorusername .= "Sponsored by :". $rootleftSponsorMsrNo."<br />";
		                    $Asponsorusername .= "Left ID :". $leftMsrno."<br />";
		                    $Asponsorusername .= "Middle ID :". $middleMsrno."<br />";
		                    $Asponsorusername .= "Right ID :". $rightMsrno."<br />";
			                $Asponsorusername .= "Left PV :". $totalLeftPV."<br />";
			                $Asponsorusername .= "Middle PV :". $totalMiddlePV."<br />";
			                $Asponsorusername .= "Right PV :". $totalRightPV ."<br />";
			               	$Ausername = '<a href="'. $link1 .'" class="tooltip"><img src='.$userimg.'  width="36" height="48"><span>'. $Asponsorusername.'</span></a>';
                }
            	else
            	{
            			/*
		            	  $rootUserName = 'admin';
						  $Ausername ='<a href="../'.$rootUserName." title="Add new member here"><img src="view/image/add_bg.png" width="36" height="48"></a> ';
						  $Aid='';
						  $Asponsorusername='Add new member here';
            			*/
            	}
   /**** Start First Left Node **/      	
           	
   /** Start Middle Node */
               $rootmiddlemsrno =  $l_data[0]['middle_sponsorcode'];
              
        	    if(isset($rootmiddlemsrno) && !empty($rootmiddlemsrno))  //Root -> M                
            	{
	                	$rootmiddledetails = $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$rootmiddlemsrno."'")->row; 
	               		$Mid  =  $rootmiddledetails['customer_id'];
	               		//echo $Mid; exit();
	              		$mlink1 = $this->url->link('mlm/membertree&rootNode='. $Mid, 'token=' . $this->session->data['token'] , 'SSL');
	             	    $totalLeftPV=0;
	                	$totalRightPV=0;
		                $roordata = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$Mid."'")->rows;
	    	            $rootmiddleSponsorMsrNo = $roordata[0]['sponsor_code']; 
		                $leftMsrNo = $roordata[0]['left_sponsorcode']; 
		                $middleMsrNo = $roordata[0]['middle_sponsorcode']; 
		                $rightMsrNo = $roordata[0]['right_sponsorcode']; 
		                
		               if(isset($leftMsrNo) && !empty($leftMsrNo))
		               {
		                   $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
		                   $totalLeftPV = 	$leftPvq['total_pv'];
		               }
	               	 
	               	  if(isset($middleMsrNo) && !empty($middleMsrNo))
		               {
		                   $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
		                   $totalMiddlePV = $middlePvq['total_pv'];
		               }	
	               	 
	               	  if(isset($rightMsrNo) && !empty($rightMsrNo)){
	                        $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
	                        $totalRightPV = $RightPvq['total_pv'];
	                   }
                 
                    $rootmiddleSponsordetails  = $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$rootmiddleSponsorMsrNo."'")->row; 
                    $BMsponsorusername .= "User ID : ". $rootmiddlemsrno."<br />";
	                $BMsponsorusername .= "Sponsored by ". $rootmiddleSponsorMsrNo."<br />";
	                $BMsponsorusername .= "Left ID :". $leftMsrNo."<br />";
	                $BMsponsorusername .= "Middle ID :". $middleMsrNo."<br />";
	                $BMsponsorusername .= "Right ID :". $rightMsrNo."<br />";
	                $BMsponsorusername .= "Left PV :". $totalLeftPV ."<br />";
	                $BMsponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
	                $BMsponsorusername .= "Right PV :". $totalRightPV ."<br />";
	                $BMusername ='<a href="'. $link1 .'" class="tooltip"><img src='.$userimg.' width="36" height="48"><span>'.$BMsponsorusername.'</span> </a>';
         
              	} else {
	            		/*
	            		$rootUserName = 'admin';
	          		    $Busername = "<a href='../".$rootUserName."&parentid=". $rootid."&leg=right' title='Add new member here'><img src='view/image/add_bg.png'></a>"; 
	            		$Mid='';
	             	    $Bsponsorusername='Add new member here';
	            		*/
	        	}	  
            	
    /* End Middle Node */ 	
           
    /** Start Right node of root **/
        	    $rootrightmsrno =  $l_data[0]['right_sponsorcode'];
        	    if(isset($rootrightmsrno) && !empty($rootrightmsrno))//Root ->B                
            	{
                	$rootleftdetails = $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$rootrightmsrno."'")->row; 
               		$Bid  =  $rootleftdetails['customer_id'];
              		$link1 = $this->url->link('mlm/membertree&rootNode='. $Bid, 'token=' . $this->session->data['token'], 'SSL');
             	    $totalLeftPV=0;
                	$totalRightPV=0;
	                $roordata = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$Bid."'")->rows;
	                $rootrightSponsorMsrNo    = $roordata[0]['sponsor_code']; 
                    $leftMsrNo = $roordata[0]['left_sponsorcode']; 
	                $middleMsrNo = $roordata[0]['middle_sponsorcode']; 
	                $rightMsrNo = $roordata[0]['right_sponsorcode']; 
	                if(isset($leftMsrNo) && !empty($leftMsrNo))
	                {
	                   $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
	                   $totalLeftPV = 	$leftPvq['total_pv'];
	                }
	                if(isset($middleMsrNo) && !empty($middleMsrNo))
	                {
	                   $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
	                   $totalMiddlePV = 	$middlePvq['total_pv'];
	                }
               		if(isset($rightMsrNo) && !empty($rightMsrNo)){
                        $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                        $totalRightPV = 	$RightPvq['total_pv'];
                  	}
                
	                $rootrightSponsordetails  = $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$rootrightSponsorMsrNo."'")->row; 
	                $Bsponsorusername .= "User ID : ". $rootrightmsrno."<br />";
	                $Bsponsorusername .= "Sponsored by ". $rootrightSponsordetails['member_id']."<br />";
	                $Bsponsorusername .= "Left ID :". $leftMsrNo."<br />";
	                $Bsponsorusername .= "Center ID :". $middleMsrNo."<br />";
	                $Bsponsorusername .= "Right ID :". $rightMsrNo."<br />";
	                $Bsponsorusername .= "Left PV :". $totalLeftPV ."<br />";
	                $Bsponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
	                $Bsponsorusername .= "Right PV :". $totalRightPV ."<br />";
	                $Busername ='<a href="'. $link1 .'" class="tooltip"><img src='.$userimg.' width="36" height="48"><span>'.$Bsponsorusername.'</span> </a>';
	            }
                else
                {
            		$rootUserName = 'admin'; /*
           	 	    $Busername = "<a href='../".$rootUserName."&parentid=". $rootid."&leg=right' title='Add new member here'><img src='view/image/add_bg.png'></a>"; 
               		$Bid='';
             	    $Bsponsorusername='Add new member here'; */
                }
                
     /***** End Right Node -->
     
 /*******************************End 1st Level ***************************/
  
 
 /******* 2nd Level  secondlevel ( both side(C and D) of Root->A)  ********/
 
 	/*****Left Node ******/
      		     if(isset($Aid) && !empty($Aid))  //Root->A->C
            	 {             
            	
	                   $l2_data = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '". $Aid."'")->rows;
	                   $leftsleftmsrno   = $l2_data[0]['left_sponsorcode']; 
	                   $leftsmiddlemsrno   = $l2_data[0]['middle_sponsorcode']; 
	                   $leftsrightmsrno  = $l2_data[0]['right_sponsorcode']; 
	                   if(isset($leftsleftmsrno) && !empty($leftsleftmsrno))
	                   {
                      	 $aleft=1;
                		 $totalLeftPV=0;
                		 $totalRightPV=0;
	      // Root->A->C detials
	                      $leftslefdetails   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$leftsleftmsrno."'")->row; 
	                      $Cid  =  $leftslefdetails['customer_id'];
	                      $link3 = $this->url->link('mlm/membertree&rootNode='. $Cid, 'token=' . $this->session->data['token'], 'SSL');
	                      $leftsleftSp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '". $Cid."'")->rows;
	                      $leftleftSponsorMsrNo = $leftsleftSp[0]['sponsor_code']; 
	                      $leftMsrNo = $leftsleftSp[0]['left_sponsorcode']; 
	                      $middleMsrNo = $leftsleftSp[0]['middle_sponsorcode']; 
	                      $rightMsrNo = $leftsleftSp[0]['right_sponsorcode']; 
	                      if(isset($leftMsrNo) && !empty($leftMsrNo))
	                      {
	                         $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
	                         $totalLeftPV = 	$leftPvq['total_pv'];
	                      }
                      
                      if(isset($middleMsrNo) && !empty($middleMsrNo))
                      {
                          $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                          $totalMiddlePV = 	$middlePvq['total_pv'];
                      }
                      
                      if(isset($rightMsrNo) && !empty($rightMsrNo))
                      {
		                 $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
		                 $totalRightPV = 	$RightPvq['total_pv'];
                      }
                      
                       // $leftleftSponsordetails  =  $this->db->query("select * from ".DB_PREFIX."customer where msrno =".$leftleftSponsorMsrNo)); 
                       
                        $Csponsorusername =  "User ID : ". $leftsleftmsrno."<br />";
                        $Csponsorusername .= "Sponsored by ". $leftleftSponsorMsrNo."<br />";
                        $Csponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $Csponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $Csponsorusername .= "Right ID :". $rightMsrNo."<br />";
                        $Csponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                        $Csponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                        $Csponsorusername .= "Right PV :". $totalRightPV ."<br />";
                        $Cusername ='<a href="'. $link3 .'" class="tooltip"><img src='.$userimg.' /><span>'.$Csponsorusername.'</span></a>';
                    }
                    else
                    {
                    	$rootUserName = 'admin'; $Cusername = '';
                  //	 	$Cusername ='<a href="../'.$rootUserName.'&parentid='. $Aid.'&leg=left" title="Add new member here"><img src="view/image/add_bg.png"></a>';
                    	$Cid='';
                    }
     /****** End Left Node ******/               
     
     /****** Middle Node *******/
                   if(isset($leftsmiddlemsrno) && !empty($leftsmiddlemsrno))
                   {
    	           	  $aleft=1;
               		  $totalLeftPV=0;
                	  $totalMiddlePV=0;
                	  $totalRightPV=0;
	// Root->A->C detials
                        $leftsmiddledetails   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$leftsmiddlemsrno."'")->row; 
                      
                        $CMid  =  $leftsmiddledetails['customer_id'];
                        $link3 = $this->url->link('mlm/membertree&rootNode='. $CMid, 'token=' . $this->session->data['token'], 'SSL');
                        $leftsmiddleSp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '". $CMid."'")->rows;
                        $leftmiddleSponsorMsrNo = $leftsmiddleSp[0]['sponsor_code']; 
                        $leftMsrNo = $leftsmiddleSp[0]['left_sponsorcode']; 
                        $middleMsrNo = $leftsmiddleSp[0]['middle_sponsorcode']; 
                        $rightMsrNo = $leftsmiddleSp[0]['right_sponsorcode']; 
                        
                        if(isset($leftMsrNo) && !empty($leftMsrNo))
                        {
                            $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                            $totalLeftPV = 	$leftPvq['total_pv'];
                        }
                        if(isset($middleMsrNo) && !empty($middleMsrNo))
                        {
                            $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                            $totalMiddlePV = 	$middlePvq['total_pv'];
                        }
                        if(isset($rightMsrNo) && !empty($rightMsrNo)){
		                        $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
		                        $totalRightPV = 	$RightPvq['total_pv'];
                        }
                        
                        $CMsponsorusername =  "User ID : ". $leftsmiddlemsrno."<br />";
                        $CMsponsorusername .= "Sponsored by ". $leftmiddleSponsorMsrNo."<br />";
                        $CMsponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $CMsponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $CMsponsorusername .= "Right ID :". $rightMsrNo."<br />";                    
                        $CMusername ='<a href="'. $link3 .'" class="tooltip"><img src='.$userimg.' /><span>'.$CMsponsorusername.'</span></a>';
                     }
                    else
                    {	
                        $rootUserName = 'admin';
                        $CMusername = '';
                   // 	$CMusername ='<a href="../'.$rootUserName.'&parentid='. $Aid.'&leg=left" title="Add new member here"><img src="view/image/add_bg.png"></a>';
                    	$CMid='';
                    }                   
    /****** End Middle Node ***********/     
    
    /******* Start Right Node **********/
                	if( isset($leftsrightmsrno) && !empty($leftsrightmsrno))// Root->A->D
                    {
                        $totalLeftPV=0;
                        $totalRightPV=0;
                        $aright=1;
       // A->left->left detials
                        $leftsrightdetails   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$leftsrightmsrno."'")->row; 
                        $Did   = $leftsrightdetails['customer_id'];
                        $link4 = $this->url->link('mlm/membertree&rootNode='. $Did, 'token=' . $this->session->data['token'] , 'SSL');
                       
                        $leftsleftSp = $this->db->query("SELECT * FROM ".DB_PREFIX."membertree where customer_id = '". $Did."'")->rows;
                        $leftleftSponsorMsrNo    = $leftsleftSp[0]['sponsor_code']; 
                        
                        $leftMsrNo = $leftsleftSp[0]['left_sponsorcode'];
                        $middleMsrNo = $leftsleftSp[0]['middle_sponsorcode'];
                        $rightMsrNo = $leftsleftSp[0]['right_sponsorcode']; 
                        
                        if(isset($leftMsrNo) && !empty($leftMsrNo))
                        {
                            $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                            $totalLeftPV = 	$leftPvq['total_pv'];
                        }
                        if(isset($middleMsrNo) && !empty($middleMsrNo))
                        {
                            $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                            $middlePV = 	$middlePvq['total_pv'];
                        }
                        if(isset($rightMsrNo) && !empty($rightMsrNo)) {
                        	$RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                            $totalRightPV = 	$RightPvq['total_pv'];
                        }
                        
                        $leftleftSponsordetails  =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$leftleftSponsorMsrNo."'")->row; 
                     
                        $Dsponsorusername =  "User ID : ". $leftsrightmsrno."<br />";
                        $Dsponsorusername .= "Sponsored by ". $leftleftSponsorMsrNo."<br />";
                        $Dsponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $Dsponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $Dsponsorusername .= "Right ID :". $rightMsrNo."<br />";
                        $Dsponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                        $Dsponsorusername .= "Middle PV :". $middlePV."<br />";
                   		$Dsponsorusername .= "Right PV :". $totalRightPV ."<br />";
                   		$Dusername ='<a href="'. $link4 .'" class="tooltip"><img src='.$userimg.' > <span>' . $Dsponsorusername . '</span> </a>';
                    }
                    else
                    {
                    	$rootUserName = 'admin';
                    	$Dusername = '';
                    //	$Dusername ='<a href="../'.$rootUserName.'&parentid='. $Aid.'&leg=right" title="Add new member here"> <img src="view/image/add_bg.png"></a>';
                    	$Did='';
                    }
          	 }
   /******* End Right Side Note *********/				
   
   /******************************************** Middle Add Scipt Added By Pradeep ***************************************************/
   
   
   /****** now both side of  M ***********/             
          if(isset($rootmiddlemsrno)  && !empty($rootmiddlemsrno))
          {
              $m3_data  = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$Mid."'")->rows;
              $Mleftmsrno = $m3_data[0]['left_sponsorcode']; 
              $Mmiddlemsrno = $m3_data[0]['middle_sponsorcode']; 
              $Mrightmsrno = $m3_data[0]['right_sponsorcode']; 
              if(isset($Mleftmsrno) && !empty($Mleftmsrno))
              {
              		 $totalLeftPV=0;
               		 $totalMiddlePV=0;
               		 $totalRightPV=0;
                     $bleft =1; 
          // Root->M->M1 detials
         
                     $M1details   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$Mleftmsrno."'")->row; 
                     $M1id       =  $M1details['customer_id'];
                     $link5 = $this->url->link('mlm/membertree&rootNode='. $M1id, 'token=' . $this->session->data['token'] , 'SSL');
                     $MSp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id  = '".$M1id."'")->rows;
                     $MSponsorMsrNo    = $MSp[0]['sponsor_code'];                        
                     $leftMsrNo = $MSp[0]['left_sponsorcode'];
                     $middleMsrNo = $MSp[0]['middle_sponsorcode'];
                     $rightMsrNo = $MSp[0]['right_sponsorcode']; 
                     if(isset($leftMsrNo) && !empty($leftMsrNo))
                     {
                        $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                        $totalLeftPV = 	$leftPvq['total_pv'];
                     }
                     
                     if(isset($middleMsrNo) && !empty($middleMsrNo))
                     {
                         $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                         $totalMiddlePV = 	$middlePvq['total_pv'];
                     }
                     
                     if(isset($rightMsrNo) && !empty($rightMsrNo)) {
                         $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                         $totalRightPV = 	$RightPvq['total_pv'];
                     }
                        
                        $M1sponsorusername =  "User ID : ". $Mleftmsrno."<br />";
                        $M1sponsorusername .= "Sponsored by ". $MSponsorMsrNo."<br />";
                        $M1sponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $M1sponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $M1sponsorusername .= "Right ID :". $rightMsrNo."<br />";
                        $M1sponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                        $M1sponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                        $M1sponsorusername .= "Right PV :". $totalRightPV ."<br />";
                        $M1username ='<a href="'. $link5 .'" class="tooltip"><img src='.$userimg.' ><span>'.$M1sponsorusername.'</span></a>';
	             }
	             else
	             {
	             /*
	                    	$rootUserName = 'admin';		
	                    	$Eusername ='<a href="../'.$rootUserName.'&parentid='. $Bid.'&leg=left"><img src="view/image/add_bg.png"></a>';
	                    	$Eid='';
	                        $Msponsorusername='Add new member here';
	             */
	             }

/******* Middle Node ************/
          if(isset($Mmiddlemsrno)  && !empty($Mmiddlemsrno))
          {
              	 $totalLeftPV=0;
              	 $totalMiddlePV=0;
              	 $totalRightPV=0;
                 $bleft =1; 
      // Root->M->M2 detials
                 $M2details   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$Mmiddlemsrno."'")->row; 
                 $M2id =  $M2details['customer_id'];
                 $link5 = $this->url->link('mlm/membertree&rootNode='.$M2id,'token=' . $this->session->data['token'] , 'SSL');
                 $M2Sp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id  = '".$M2id."'")->rows;
                 $M2SponsorMsrNo    = $M2Sp[0]['sponsor_code'];                        
                 $leftMsrNo = $M2Sp[0]['left_sponsorcode'];
                 $middleMsrNo = $M2Sp[0]['middle_sponsorcode'];
                 $rightMsrNo = $M2Sp[0]['right_sponsorcode']; 
                 if(isset($leftMsrNo) && !empty($leftMsrNo))
                 {
                     $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                     $totalLeftPV = 	$leftPvq['total_pv'];
                 }
                 if(isset($middleMsrNo) && !empty($middleMsrNo))
                 {
                     $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                     $totalMiddlePV = 	$middlePvq['total_pv'];
                 }
                 if(isset($rightMsrNo) && !empty($rightMsrNo)) 
                 {
                   	$RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                    $totalRightPV = 	$RightPvq['total_pv'];
                  }
                     $M2sponsorusername =  "User ID : ". $Mmiddlemsrno."<br />";
                     $M2sponsorusername .= "Sponsored by ". $M2SponsorMsrNo."<br />";
                     $M2sponsorusername .= "Left ID :". $leftMsrNo."<br />";
                     $M2sponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                     $M2sponsorusername .= "Right ID :". $rightMsrNo."<br />";
                     $M2sponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                     $M2sponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                     $M2sponsorusername .= "Right PV :". $totalRightPV ."<br />";
                     $M2username ='<a href="'. $link5 .'" class="tooltip"><img src='.$userimg.' ><span>'.$M2sponsorusername.'</span></a>';
             }
              else
             {
             /*
                  	 $rootUserName = 'admin';		
                   	 $M2username ='<a href="../'.$rootUserName.'&parentid='. $Bid.'&leg=left"><img src="view/image/add_bg.png"></a>';
                     $Eid='';
                     $Esponsorusername='Add new member here';
              */
              }      
                   
  /********** End Middle Node ********************/                    
  
  /****** Start Right  Node (Root->M->M3) *****************/                
                  if(isset($Mrightmsrno) && !empty($Mrightmsrno)) 
                  {
                	 $totalLeftPV=0;
                	 $totalRightPV=0;
                     $bright =1;
      // M->Middle->right details
                     $M3details = $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$Mrightmsrno."'")->row; 
                     $M3id       =  $M3details['customer_id'];
                     $link6 = $this->url->link('mlm/membertree&rootNode='. $M3id, 'token=' . $this->session->data['token'] , 'SSL');
                     $M3Sp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$M3id."'")->rows;
                     $M3SponsorMsrNo    = $M3Sp[0]['sponsor_code']; 
                     $leftMsrNo = $FSp[0]['left_sponsorcode']; 
                     $middleMsrNo = $FSp[0]['middle_sponsorcode']; 
                     $rightMsrNo = $FSp[0]['right_sponsorcode']; 
                     if(isset($leftMsrNo) && !empty($leftMsrNo) )
                     {
                         $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                         $totalLeftPV = 	$leftPvq['total_pv'];
                     }
                     if(isset($middleMsrNo) && !empty($middleMsrNo) )
                     {
                         $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                         $totalMiddlePV = 	$middlePvq['total_pv'];
                     }
                     if(isset($rightMsrNo) && !empty($rightMsrNo)) 
                     {
                         $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                         $totalRightPV = 	$RightPvq['total_pv'];
                     }
                     // $FSponsordetails  =  mysql_fetch_array(mysql_query("select * from ".DB_PREFIX."customer where msrno =".$FSponsorMsrNo)); 
                   
                        $M3sponsorusername =  "User ID : ". $Mmiddlemsrno."<br />";
                        $M3sponsorusername =  "Sponsored by ".  $M3SponsorMsrNo ."<br />";
                        $M3sponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $M3sponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $M3sponsorusername .= "Right ID :". $rightMsrNo."<br />";
                        $M3sponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                        $M3sponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                        $M3sponsorusername .= "Right PV :". $totalRightPV ."<br />";
                   		$M3username ='<a href="'. $link6 .'"  class="tooltip"><img src='.$userimg.'><span>'.$M3sponsorusername.'</span></a>';
         		}	
                else
                {
                /*
                	   	$rootUserName = 'admin';
                    	$M3username ='<a href="../'.$rootUserName.'&parentid='. $Mid.'&leg=right" title="Add new member here"> <img src="view/image/add_bg.png"> </a>';
                    	$Fid='';
                */
                }
             }  
   
   
    
   
   
   
   /************************************** End Middle Script  ************************************************************************/
    		
  /****** now both side of  B ***********/             
          if(isset($rootrightmsrno)  && !empty($rootrightmsrno))
          {
              $l3_data  = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$Bid."'")->rows;
              $Bleftmsrno = $l3_data[0]['left_sponsorcode']; 
              $Bmiddlemsrno = $l3_data[0]['middle_sponsorcode']; 
              $Brightmsrno = $l3_data[0]['right_sponsorcode']; 
              if(isset($Bleftmsrno) && !empty($Bleftmsrno))
              {
              		 $totalLeftPV=0;
               		 $totalMiddlePV=0;
               		 $totalRightPV=0;
                     $bleft =1; 
          // Root->B->E detials
         
                     $Edetails   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$Bleftmsrno."'")->row; 
                     $Eid       =  $Edetails['customer_id'];
                     $link5 = $this->url->link('mlm/membertree&rootNode='. $Eid, 'token=' . $this->session->data['token'] , 'SSL');
                     $ESp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id  = '".$Eid."'")->rows;
                     $ESponsorMsrNo    = $ESp[0]['sponsor_code'];                        
                     $leftMsrNo = $ESp[0]['left_sponsorcode'];
                     $middleMsrNo = $ESp[0]['middle_sponsorcode'];
                     $rightMsrNo = $ESp[0]['right_sponsorcode']; 
                     if(isset($leftMsrNo) && !empty($leftMsrNo))
                     {
                        $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                        $totalLeftPV = 	$leftPvq['total_pv'];
                     }if(isset($middleMsrNo) && !empty($middleMsrNo))
                     {
                         $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                         $totalMiddlePV = 	$middlePvq['total_pv'];
                     }if(isset($rightMsrNo) && !empty($rightMsrNo)) {
                         $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                         $totalRightPV = 	$RightPvq['total_pv'];
                     }
                        
                        $Esponsorusername =  "User ID : ". $Bleftmsrno."<br />";
                        $Esponsorusername .= "Sponsored by ". $ESponsorMsrNo."<br />";
                        $Esponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $Esponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $Esponsorusername .= "Right ID :". $rightMsrNo."<br />";
                        $Esponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                        $Esponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                        $Esponsorusername .= "Right PV :". $totalRightPV ."<br />";
                        $Eusername ='<a href="'. $link5 .'" class="tooltip"><img src='.$userimg.' ><span>'.$Esponsorusername.'</span></a>';
             }
             else
             {
             /*
                    	$rootUserName = 'admin';		
                    	$Eusername ='<a href="../'.$rootUserName.'&parentid='. $Bid.'&leg=left"><img src="view/image/add_bg.png"></a>';
                    	$Eid='';
                        $Esponsorusername='Add new member here';
            */
             }

/******* Middle Node ************/
          if(isset($Bmiddlemsrno)  && !empty($Bmiddlemsrno))
          {
              	 $totalLeftPV=0;
              	 $totalMiddlePV=0;
              	 $totalRightPV=0;
                 $bleft =1; 
      // Root->B->E detials
                 $Edetails   =  $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$Bleftmsrno."'")->row; 
                 $Eid =  $Edetails['customer_id'];
                 $link5 = $this->url->link('mlm/membertree&rootNode='.$Eid, 'token=' . $this->session->data['token'] , 'SSL');
                 $ESp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id  = '".$Eid."'")->rows;
                 if(count($ESp)>0)
                 {
                 $ESponsorMsrNo    = $ESp[0]['sponsor_code'];                        
                 $leftMsrNo = $ESp[0]['left_sponsorcode'];
                 $middleMsrNo = $ESp[0]['middle_sponsorcode'];
                 $rightMsrNo = $ESp[0]['right_sponsorcode']; 
                 }
                 else
                 {
                  $ESponsorMsrNo    = 0;                        
                 $leftMsrNo =0;
                 $middleMsrNo =0;
                 $rightMsrNo = 0; 
                 }
                 
                 if(isset($leftMsrNo) && !empty($leftMsrNo))
                 {
                     $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                     $totalLeftPV = 	$leftPvq['total_pv'];
                 }
                 if(isset($middleMsrNo) && !empty($middleMsrNo))
                 {
                     $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                     $totalMiddlePV = 	$middlePvq['total_pv'];
                  }
                  if(isset($rightMsrNo) && !empty($rightMsrNo)) 
                  {
                   	$RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                    $totalRightPV = 	$RightPvq['total_pv'];
                  }
                     $BMsponsorusername =  "User ID : ". $Bleftmsrno."<br />";
                     $BMsponsorusername .= "Sponsored by ". $ESponsorMsrNo."<br />";
                     $BMsponsorusername .= "Left ID :". $leftMsrNo."<br />";
                     $BMsponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                     $BMsponsorusername .= "Right ID :". $rightMsrNo."<br />";
                     $BMsponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                     $BMsponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                     $BMsponsorusername .= "Right PV :". $totalRightPV ."<br />";
                     $BMusername ='<a href="'. $link5 .'" class="tooltip"><img src='.$userimg.' ><span>'.$Esponsorusername.'</span></a>';
                  }
                  else
                  {
                  /*	 $rootUserName = 'admin';		
                   	 $BMusername ='<a href="../'.$rootUserName.'&parentid='. $Bid.'&leg=left"><img src="view/image/add_bg.png"></a>';
                     $Mid='';
                     $BMsponsorusername='Add new member here';
                     */
                  }      
           }         
  /********** End Middle Node ********************/                    
  
  /****** Start Right  Node (Root->A->F) *****************/                
                  if(isset($Brightmsrno) && !empty($Brightmsrno)) 
                  {
                	 $totalLeftPV=0;
                	 $totalRightPV=0;
                     $bright =1;
      // A->left->left details
                     $Fdetails = $this->db->query("select * from ".DB_PREFIX."customer where member_id = '".$Brightmsrno."'")->row; 
                     $Fid       =  $Fdetails['customer_id'];
                     $link6 = $this->url->link('mlm/membertree&rootNode='. $Fid, 'token=' . $this->session->data['token'] , 'SSL');
                     $FSp = $this->db->query("SELECT * FROM  ".DB_PREFIX."membertree where customer_id = '".$Fid."'")->rows;
                     $FSponsorMsrNo    = $FSp[0]['sponsor_code']; 
                     $leftMsrNo = $FSp[0]['left_sponsorcode']; 
                     $middleMsrNo = $FSp[0]['middle_sponsorcode']; 
                     $rightMsrNo = $FSp[0]['right_sponsorcode']; 
                     if(isset($leftMsrNo) && !empty($leftMsrNo) )
                     {
                         $leftPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$leftMsrNo."'")->row;
                         $totalLeftPV = 	$leftPvq['total_pv'];
                     }
                     if(isset($middleMsrNo) && !empty($middleMsrNo) )
                     {
                         $middlePvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$middleMsrNo."'")->row;
                         $totalMiddlePV = 	$middlePvq['total_pv'];
                     }
                     if(isset($rightMsrNo) && !empty($rightMsrNo)) 
                     {
                         $RightPvq = $this->db->query("select * from ".DB_PREFIX."membertree where member_id = '".$rightMsrNo."'")->row;
                         $totalRightPV = 	$RightPvq['total_pv'];
                     }
                     // $FSponsordetails  =  mysql_fetch_array(mysql_query("select * from ".DB_PREFIX."customer where msrno =".$FSponsorMsrNo)); 
                   
                        $Fsponsorusername =  "User ID : ". $Bleftmsrno."<br />";
                        $Fsponsorusername =  "Sponsored by ".  $FSponsorMsrNo ."<br />";
                        $Fsponsorusername .= "Left ID :". $leftMsrNo."<br />";
                        $Fsponsorusername .= "Middle ID :". $middleMsrNo."<br />";
                        $Fsponsorusername .= "Right ID :". $rightMsrNo."<br />";
                        $Fsponsorusername .= "Left PV :". $totalLeftPV ."<br />";
                        $Fsponsorusername .= "Middle PV :". $totalMiddlePV ."<br />";
                        $Fsponsorusername .= "Right PV :". $totalRightPV ."<br />";
                   		$Fusername ='<a href="'. $link6 .'"  class="tooltip"><img src='.$userimg.'><span>'.$Fsponsorusername.'</span></a>';
         		}	
                else
                {
                /*
                	   	$rootUserName = 'admin';
                    	$Fusername ='<a href="../'.$rootUserName.'&parentid='. $Bid.'&leg=right" title="Add new member here"> <img src="view/image/add_bg.png"> </a>';
                    	$Fid='';
               */
                }
 //  }   		
    		  $rootnodeLink = $this->url->link('mlm/membertree','token=' . $this->session->data['token'], 'SSL');
?>
<table width="68%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right"><form name="downline_frm" id="downline_frm" method="post">
        <table>
          <tr>
            <td><input type="text" name="memberid" id="memberid" value="<?=(isset($_REQUEST["memberid"]) ? $_REQUEST["memberid"] : ''); ?>" />
            </td>
            <td><input type="submit" name="search" id="search" value="Search"  /></td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td height="40" align="center"><a href="<?php echo $rootnodeLink ?>">GO TO TOP</a> </td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                  </table></td>
                <td align="center"><?php echo $rootName ;?></td>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="center" valign="top"><?php echo $rootMsrNo ?></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center"><table width="67%" border="0" cellspacing="0" cellpadding="0" >
        <tr>
          <td style="width:33%;border-top:1px solid #666666;border-left:1px solid #666666;border-left:1px solid #666666;">&nbsp;</td>
          <td style="width:17%;border-top:1px solid #666666;border-right:1px solid #666666;">&nbsp;</td>
          <td style="border-top:1px solid #666666;border-right:1px solid #666666;">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="width: 33%;text-align: center;" valign="top"><?php echo $Ausername;?></td>
          <td  valign="top"  style="width: 33%;text-align: center;"><?php echo $BMusername;?></td>
          <td align="" style="width: 33%;text-align: center;" valign="top"><?php echo $Busername;?></td>
        </tr>
        <tr>
          <td align="right"><table width="60%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align=""><?php if(isset($Aid) && !empty($Aid) ) { echo  $rootleftmsrno ; } ?></td>
              </tr>
              <tr>
                <?php if(isset($Aid) && !empty($Aid) ){?>
                <td height="30" style="border-right:1px solid #666666;">&nbsp;</td>
                <?php }
          else{
          ?>
                <td width="90%">&nbsp;</td>
                <?php }
          ?>
                <td width="90%">&nbsp;</td>
              </tr>
            </table></td>
          <td align="center" valign="top"><table width="48%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="center"><?php if(isset($Mid) && !empty($Mid)) { echo $rootmiddlemsrno; } ?></td>
              </tr>
              <tr>
                <?php if(isset($Mid) && !empty($Mid)){ ?>
                <td height="30" style="border-right:1px solid #666666;">&nbsp;</td>
                <?php }
          else{
          ?>
                <td width="50%">&nbsp;</td>
                <?php }
          ?>
                <td width="50%">&nbsp;</td>
              </tr>
            </table></td>
          <td align="center" valign="top"><table width="67%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="center"><?php if(isset($Bid) && !empty($Bid)) { echo $rootrightmsrno; } ?></td>
              </tr>
              <tr>
                <?php if(isset($Bid) && !empty($Bid) ){ ?>
                <td height="30" style="border-right:1px solid #666666;">&nbsp;</td>
                <?php
            }
            else
            {
?>
                <td height="30">&nbsp;</td>
                <?php
            }
            ?>
                <td width="50%">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="center" valign="top"><?php if(isset($Aid) && !empty($Aid) ){ ?>
            <table width="70%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="border-top:1px solid #666666;border-left:1px solid #666666;width:14%;">&nbsp;</td>
                <td style="border-top:1px solid #666666;border-right:1px solid #666666;width:32%;">&nbsp;</td>
                <td style="border-top:1px solid #666666;border-right:1px solid #666666;">&nbsp;</td>
              </tr>
            </table>
            <?php } ?>
          </td>
          <td align="center" valign="top"><?php if(isset($Bid) && !empty($Bid)) { ?>
            <table width="70%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="border-top:1px solid #666666;border-left:1px solid #666666;width:14.5%;">&nbsp;</td>
                <td style="border-top:1px solid #666666;border-right:1px solid #666666;width:36%;">&nbsp;</td>
                <td style="border-top:1px solid #666666;border-right:1px solid #666666;">&nbsp;</td>
              </tr>
            </table>
            <?php } ?>
          </td>
          <td align="center" valign="top"><?php if(isset($Cid) && !empty($Cid)) { ?>
            <table width="70%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="border-top:1px solid #666666;border-left:1px solid #666666;width:14.5%;">&nbsp;</td>
                <td style="border-top:1px solid #666666;border-right:1px solid #666666;width:36%;">&nbsp;</td>
                <td style="border-top:1px solid #666666;border-right:1px solid #666666;">&nbsp;</td>
              </tr>
            </table>
            <?php } ?>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top"><?php if(isset($Aid) && !empty($Aid) ) { ?>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" style="width: 33%;text-align: center;"><?php echo $Cusername;?></td>
                <td align="left" style="width: 33%;text-align: center;"><?php echo $CMusername;?></td>
                <td align="right" style="width: 33%;text-align: center;"><?php echo $Dusername;?></td>
              </tr>
              <tr>
                <td style="width: 33%;text-align: center;"><?php if(isset($Cid) && !empty($Cid)) { echo  $leftsleftmsrno; } ?></td>
                <td style="width: 33%;text-align: center;"><?php   if(isset($CMid) && !empty($CMid)) { echo  $leftsmiddlemsrno; } ?></td>
                <td align="right" style="width: 33%;text-align: center;"><?php  if(isset($Did) && !empty($Did)) { echo  $leftsrightmsrno; } ?></td>
              </tr>
            </table>
            <?php } ?>
          </td>
          <td align="center"><?php if(isset($Mid) && !empty($Mid)) { ?>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" style="width: 33%;text-align: center;"><?php echo $M1username;?></td>
                <td align="left" style="width: 33%;text-align: center;"><?php echo $M2username;?></td>
                <td align="right" style="width: 33%;text-align: center;"><?php echo $M3username;?></td>
              </tr>
              <tr>
                <td style="width: 33%;text-align: center;">&nbsp;<?php echo $Mleftmsrno ;?></td>
                <td style="width: 33%;text-align: center;">&nbsp;<?php echo $Mmiddlemsrno ;?></td>
                <td align="right" style="width: 33%;text-align: center;">&nbsp;<?php echo $Mrightmsrno ;?></td>
              </tr>
            </table>
            <?php  }  ?>
          </td>
          <td align="center"><?php if(isset($Bid) && !empty($Bid)) { ?>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" style="width: 33%;text-align: center;"><?php echo $Eusername;?></td>
                <td align="left" style="width: 33%;text-align: center;"><?php echo $BMusername;?></td>
                <td align="right" style="width: 33%;text-align: center;"><?php echo $Fusername;?></td>
              </tr>
              <tr>
                <td style="width: 33%;text-align: center;"><?php echo $Bleftmsrno ;?></td>
                <td style="width: 33%;text-align: center;"><?php echo $Bmiddlemsrno ;?></td>
                <td align="right" style="width: 33%;text-align: center;"><?php echo $Brightmsrno ;?></td>
              </tr>
            </table>
            <?php  }  ?>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
 <?php
  }
  else
  {
 ?>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
		  <tr>
		    <td align="center" valign="top" style="color:#FF0000"><strong>Invalid Root ID</strong></td>
			</tr>
			
			<tr>
			  <td><br /></td>
			</tr>
			<tr>
				<td align="center" valign="top"><input type="button" name="back" id="back" value="Go Back"  onclick="window.location.href='<?php echo $backbtn; ?>'" /> </td>
			</tr>
     </table>
<?php }  ?>
  <!-- End Tree Html -->  
</div>
<?php echo $footer; ?>