<div class="box box1">

  <div class="box-heading"><?php echo $heading_title; ?>

    <div class="navigate navigate-special">

      <div class="prev"></div>

      <div class="next"></div>

    </div>

  </div>

  <div class="clear"></div>

  <div class="box-content">

    <div class="">
    
      <?php foreach ($products as $product) { ?>

      <div class="box-product-item">

        <div class="view-first">

          <div class="view-content">

            <?php if ($product['thumb']) { ?>

            <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>

            <?php } ?>

            <div class="name"><a href="<?php echo $product['href']; ?>">

              <?php if(strlen($product['name']) > 23) { $product['name'] = substr($product['name'],0,23).'...'; } echo $product['name']; ?>

              </a></div>

            <div class="descr"><?php echo substr(html_entity_decode($product['desc']),0,80).'...';  ?></div>

            <?php if ($product['price']) { ?>

            <div class="price">

              <?php if (!$product['special']) { ?>

              <?php echo $product['price']; ?>

              <?php } else { ?>

              <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>

              <?php } ?>

            </div>

          </div>

          <?php } ?>

          <div style=" margin:10px;">

            <div class="box-product-buttons">

              <div class="buttons-cart" onclick="addToCart('<?php echo $product['product_id']; ?>');"></div>

            </div>

            <div class="addcart"><a href="<?php echo HTTP_SERVER.'index.php?route=product/product&product_id='.$product['product_id'];?>">DETAILS</a></div>

          </div>

          <!--<div class="buttons-wish" onclick="addToWishList('<?php echo $product['product_id']; ?>');"></div>

              <div class="buttons-compare" onclick="addToCompare('<?php echo $product['product_id']; ?>');"></div>

              <div class="buttons-more" onclick="location.href='<?php echo $product['href']; ?>'"></div></div>-->

          <?php if ($product['rating']) { ?>

          <div class="box-product-rating"><img src="catalog/view/theme/beautyshop/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>

          <?php } ?>

        </div>

      </div>

      <?php } ?>

    </div>

  </div>

  <div class="clear"></div>

</div>

<?



if($this->config->get('beauty_status') == '1') {$beauty_effects_carousel = $this->config->get('beauty_effects_carousel');} else {$beauty_effects_carousel = 'enable';}







if($beauty_effects_carousel == 'enable')



{



?>

<script type="text/javascript"><!--



$(document).ready(function() {



      



	// Using default configuration



	$(".caruofredsel-special").carouFredSel({



      



                  infinite: false,



                  auto 	: false,



		  width : "100%",



                  prev	: {	



                          button	: ".navigate-special .prev",



                          key		: "left"



                  },



                  next	: { 



                          button	: ".navigate-special .next",



                          key		: "right"



                  }



                  ,swipe           : {



                      onTouch     : true,



                      onMouse     : false



                  }



		  ,onCreate : function(data) { $(this).css("height","auto");  }	



        



        })







});







--></script>

<? } ?>

