/*  -------------------------------------------------------------------------------------  */
/*  ---  Desktop and tablet layout              -----------------------------------------  */
/*  -------------------------------------------------------------------------------------  */
/*  ---  Min width: 1000px                      -----------------------------------------  */

@media only screen and (min-width: 982px) and (max-width: 1180px) {
	.lang select{margin-left:10px;}
	#menu > ul > li > a{font-size:14px !important}
	.box-product-item .descr{min-height:90px;}
	.box-product-item .name {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
}

@media only screen and (min-width: 768px) {
  

}

/*  -------------------------------------------------------------------------------------  */
/*  ---  Min width: 768px / Max width: 991px    -----------------------------------------  */

@media only screen and (min-width: 768px) and (max-width: 981px) {

  /* homepage */
  .mini-sliders {
    display:none;
  }
  .mini-ads {
    display:none;
  }
  .flexslider {
    width: 100%!important;
  }
  .welcome-buttons {
    display:none;
  }
  
  /* main */
  #box-shadow {
    width:100%;
    margin:0;
  }
  .shadow {
    box-shadow:none;
  }
  
  #container {
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }
  
  #content {
    margin-left:10px;
    margin-right:10px;
  }
  
  .success, .warning, .attention, .information {
    z-index:9999;
    width:auto;
    margin-right:10px;
    margin-left:10px;
    position:relative!important;
    
  }

  #column-left + #column-right {
    display:none;
  }
  #column-left + #column-right + #content {
    margin-right:0px;
  }
  
  /* Category */
  #content .product-list .box-product-item .description {
    width:43%!important;
  }
  .product-list-buttons {
    
  }
  .product-list-buttons .pbuttons .img{
    display: none;
  }
  .product-info .product-list-buttons .pbuttons .img{
    display: block;
  }
  .product-grid {
    width:476px;
    margin:0 auto;
  }
  .product-grid .box-product-item {
    margin-right:15px!important;
	width: 43% !important;
    margin-left:15px!important;
  }
  /* header */
  #header_menu {
    width: 100%;
  }
  #header_menu a:first-child{
    padding-left:10px;
  }
  #header_menu #currency a:first-child{
    padding-left:20px;
  }

  #currency a {
    padding-left:20px;
    padding-right:20px;
  }

  /* modules */
  .box-heading {
    margin-left:10px;
    margin-right:10px;
  }
  .caruofredsel .box-product-item {

  }
  /* footer */
  #footer-container {
    width:100%!important;
  }
  #footer-container .footer-about .text {
    width:50%;
  }
  #footer-container .footer-about .social {
    width:30%;
  }
  #footer {
    width:auto;
    
  }
  #footer .column:nth-child(1),#footer .column:nth-child(2),#footer .column:nth-child(3) {
    width:18%;
  }
  #footer .column #twitter_update_list {
    width:auto;
  }
  #header_menu {height: 70px;margin-top: -70px;text-align: center;}
  #header-menu-bg{height:70px;}
  #header_menu .col-md-9{margin:0 0 10px;}
  .lang{display:inline;float:none;}
  #menu > ul > li > a{font-size:14px !important}
  #header #logo{padding-left:0px;} 
  #header #search{width:250px;}
  #menu{padding-left:0px;}
  #menu > ul > li{ width:16.6%;}
  #footer .column{width: 30% !important;}
  .addcart a{padding:7px 15px 7px 50px;}
  .box-product-item .name{min-height:60px;}
  .box-product-item .descr{min-height:100px;}
  .product-grid .box-product-item .description{min-height:90px;}
  .product-info > .left + .right {clear: both;margin-left: 0;}
}

/*  -------------------------------------------------------------------------------------  */
/*  ---  Mobile Layout (320px)                  -----------------------------------------  */
/*  -------------------------------------------------------------------------------------  */
/*  ---  Max width: 767px                       -----------------------------------------  */

@media only screen and (max-width: 767px) {

  /* homepage */
  .mini-sliders {
    display:none;
  }
  .mini-ads {
    display:none;
  }
  .flexslider {
    width: 100%!important;
  }
  .welcome-buttons {
    display:none;
  }
  
  /* main */
  #box-shadow {
    width:100%;
    margin:0;
  }
  .shadow {
    box-shadow:none;
  }
  
  #container {
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }
  
  #content {
    margin-left:10px!important;
    margin-right:10px!important;
  }
  .breadcrumb {
    margin-top:10px;
  }
  .success, .warning, .attention, .information {
    
    vertical-align:top;
    z-index:9999;
    width:auto;
    margin-right:10px;
    margin-left:10px;
    position:absolute!important;
    top:10px;
  }

  #column-left + #column-right + #content {
    margin-right:0px;
  }
  #column-left + #column-right + #content, #column-left + #content,#column-right + #content {
    margin-left:0px;
    margin-right:0px;
  }
  #column-left {
  	margin:10px;
  }
  #column-right {
    float:none;
    clear:both;
    padding-top:10px;
	margin:10px;
  }
  #columnt-left .box-content {

  }
  /* product */
  .product-info > .left {
    float:none;
    width:100%;
    margin-right:0px;
    clear:both;
  }
  .product-info .image {
    float:none;
    clear:both;
    width:100%;
    text-align:center;
    width:250px;
    height:272px;
    margin:0 auto;
  }
  .zoomWindow, .zoomWrapper {
    display:none!important;
  }
  .product-info .zoom {
     margin:0px!important;
     padding:0px!important;
     width:100%!important;
     float:left;
  }
  .product-info .zoom a {
    float:none;
    width:100%;
    padding-top:10px;
    margin:0px;
  }
  .product-info > .left + .right  {
    margin-left:0px;
    float:none;
    clear:both;
  }
  .right .product-list .box-product-item .product-list-buttons {
    width:225px;
    margin-top:10px;
    
  }
  .image-additional-wrapper {
    margin:0 auto;
    width:250px;
    float:none;
  }
  .htabs {
    height:auto;
    
  }
  .htabs a{
    width:auto;
    clear:both;
    border-right-width:1px!important;
    float:left;
    display:block;
    
  }
  /* Category */
  .product-filter .display {
    clear:both!important;
    float:none;
  }
  .product-filter .display b {
    display:none;
  }

  .limit {
    margin-left:0px!important;
    margin-right:10px;  
  }
  .sort, .limit {
    float:left!important;
  }
  #content .product-list .box-product-item .description {
    width:100%!important;
    float:none;
    margin-bottom:10px;
  }
  .product-list .box-product-rating2 {
    text-align:center;
  }
  .product-list .box-product-item .product-list-buttons {
    display:block;
    
    width:161px;
    margin:0 auto;
    float:none;
    clear:both;
  }
  .product-list .box-product-item {
    padding-bottom:10px;
    height:auto;
  }
  .product-grid {
    width:100%;
    margin:0 auto;
  }
  .product-grid .box-product-item {
    margin:0 auto 10px auto!important;
	width:100% !important;    
    float:none;
  }
  .product-list .box-product-item .price2 {
    float:none;
    margin:0 auto;
  }
  .product-list .box-product-item .name a {
    margin-left:0px;
    text-align:center;
  }
  .product-list .box-product-item .image {
    float:none;
    margin-bottom:10px;
    width:188px;
    margin:0 auto;
  }
  /* header */
 
  
  #header #phone {
    display: none;
  }
  #header_menu {
    width: 100%;
    overflow:hidden;
    height:78px;
  }
  #header_menu > a {
    margin:0px!important;
    padding:5px 0 0 0!important;
    text-align:center!important;
    vertical-align:middle!important;
  }
  #header_menu > a {
    width:20%;
  }
  #header_menu a:first-child{
    padding-left:10px;
  }
  #header_menu #currency {
    position:absolute;
    top:38px;
    left:0px;
  }
  #header_menu #currency a:first-child{
    padding-left:10px;
  }

  #header #logo {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
	}
  #header #logo img {
    max-width:100%;
  }
  #content {
    clear:both;
    float:none;
    padding-top:10px;
  }
  #menu {height:auto;padding-left:0px;}
  #menu ul .separator {display:none;}
  #menu > ul > li {width: 100%;background:none !important;text-align:left;}
  #menu > ul > li > .menu-span{width:auto; float:left;padding:0px;}
  #menu > ul > li > a{width: auto;padding:25px 10px;}
  #menu > ul > li > a {overflow: hidden;white-space: nowrap;}
  /* ==== */

  /* modules */
  .box-heading {
    margin-left:10px;
    margin-right:10px;
  }
  .caroufredsel_wrapper .caruofredsel .box-product-item:nth-child(1n),.box-product-item:nth-child(2n)
  {
          margin-right:10px;
  }
 
  /* footer */
  #footer-container {
    width:100%!important;
  }
  #footer-container .footer-about .text {
    float:none;
    border:none;
    width:100%;
  }
  #footer-container .footer-about .social {
    margin-top: 10px;
    padding-left: 0px;
    width:100%;
  }
  #footer {
    width:auto;
    
  }
  #footer .column {
    width:100%;
    margin-bottom:10px;
  }
  #footer .column #twitter_update_list {
    width:auto;
  }
  
  #header_menu {height: 90px;margin-top: -90px;text-align: center;}
  #header-menu-bg{height:90px;}
  #header_menu .col-md-9{margin:0 0 10px;}
  .lang{display:inline;float:none;}
  .social-icon, .social-icon1{ float:left;width:100%;text-align:center;}
  .call-icon, .call-no{ float:none;display:inline;}
  #header #search{width:250px;}
  .MenuIcon{display:block;}
  #menu ul{display:none;}
  .HeadRight{float:right;width:100%;text-align:center;}
  .box-product-item{ width:100%;}
  .butbanner{padding:0 0 20px;}
  .banleft, .banright, .banimg1{width:100%;}
  .banimg1{margin-bottom:10px;}
  #footer .column{width:100% !important;}
  #header #cart{margin-bottom:10px;}
  .checkout-content .left,
  .checkout-content .right,
  .checkout-content input.large-field, .checkout-content select.large-field,
  .login-content .left,
  .login-content .right{width:100%;}
}

/*  -------------------------------------------------------------------------------------  */
/*  ---  Wide Mobile Layout (480px)             -----------------------------------------  */
/*  -------------------------------------------------------------------------------------  */
/*  ---  Min width: 480px / Max width: 767px    -----------------------------------------  */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  

}


/*  -------------------------------------------------------------------------------------  */
/*  ---  Retina displays                        -----------------------------------------  */
/*  ---  Overrides styles for devices with a    -----------------------------------------  */
/*  ---  device-pixel-ratio of 2+, such as iPhone 4     ---------------------------------  */

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {



}